<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="parseApp">
  <div ng-controller="parseCtrl">
    <form ng-submit="addBiz()">
      <select ng-model="biz.type" ng-options="type for type in types"></select>
      <input type="text" ng-model="biz.name" placeholder="Type the bizname here">
    </form>
    <div>
      <h1>Biznesses</h1>
      <ul>
        <li ng-repeat="theBiz in biznesses">{{theBiz.name}} {{theBiz.Name}}, {{theBiz.type}} {{the}}</li>
      </ul>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="service.js"></script>
</body>
</html>
